<footer class="footer">
  <p>Built using <a href="https://antora.org/" target="_blank" nofollow>Antora</a>
  | © 2024 International GeoGebra Institute
  | <a href="https://www.geogebra.org/license">License</a></p>
</footer>
