<footer class="footer">
  <div class="footer-content">
	  <p>Built using <a href="https://antora.org/" target="_blank" nofollow>Antora</a>
	  | © GeoGebra®
	  | <a href="https://www.geogebra.org/license">License</a></p>
  </div>
  <div class="soc">
      
        <a href="https://www.facebook.com/geogebra" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
      
      
        <a href="https://twitter.com/geogebra" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      
      
        <a href="https://www.youtube.com/@GeoGebraChannel" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
      
      
      
        <a href="https://www.instagram.com/geogebra" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      
      
    </div>
</footer>
